<% include partials/_header.ejs %>

<div id = "main-section">
    <h2>Admin panel</h2>
    <span class = "link" id = "unapproved-definitions-link">New submissions (<span id = "definition-count">0</span></span>) | 
    <span class = "link" id = "unresolved-reports-link">Unresolved reports (<span id = "report-count">0</span>)</span> |
    <span class = "link" id = "unreviewed-comments-link">Unreviewed comments (<span id = "comment-count">0</span>)</span> 
    <% if(session.user.admin == "true" || session.user.admin == true){ %>
        | <span class = "link" id = "user-role-manager">User roles</span>
    <% } %>
    <div id = "admin-posts-section"></div>

    <div id = "admin-roles-container"></div>
</div>
<% include partials/_footer.ejs %>

