<% include partials/_header.ejs %>

<a>Unapproved definitions (<span id = "definition-count">0</span></a>) | 
<a>Reports(<span id = "report-count">0</span></a>)</a>

<div id = "unapproved-definitions-section"></div>


<% include partials/_footer.ejs %>