<% include partials/_header.ejs %>

<div class = "all-terms-section" id = "main-section">

    <p class = "page-title">ALL TERMS</p>

    <% terms.forEach(function(term) { %>
            <a class = "link all-terms-link-wrapper" href = "/<%= term.link %>">
                <div class = "all-terms-link"><%= term.name %></div>
            </a>
    <% }) %>

</div>

<% include partials/_footer.ejs %>

