<% include partials/_header.ejs %>

<div id = "main-section">


    <div class = "faq-title">FAQ</div>


    <div class = "faq-one-question toggle-answer" id = "1">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">What is Hackterms?</div>
        </span>
        <div class = "faq-answer" data-id = "1">Hackterms is a community-sourced dictionary of coding terms. Use it to quickly understand:
            <ul>
                <li>why, where, and when someone would use a tool/process/language</li>
                <li>what the pros, cons, and alternatives are</li>
                <li>where this term fits in within the coding ecosystem</li>
            </ul>

            Hackterms is not a holistic resource to learn to code - it will usually tell you <span class = "bold">"why"</span>, <span class = "bold">"when"</span>, and <span class = "bold">"where"</span>, but not the <span class = "bold">"how"</span>. Think of it as a Hitchhike's Guide to the modern development landscape.
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "2">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Can I submit a definition?</div>
        </span>
        <div class = "faq-answer" data-id = "2">Absolutely! The goal of Hackterms is to help  gets better with every new perspective added. Your definition might help a fellow developer understand the term better!

        <br><br> 

        All new submissions are reviewed within 24 hours. The goal of the review process is to make sure your submission is a good fit for Hackterms - that is is a coding term that aims to be constructive, objective, and not offensive. We do <span class = "bold">not</span> review submission for technical accuracy, but do review them for topical accuracy. For example, we will approve a definition that says React.js is a language (though this is technically incorrect), but not that it's a type of hamburger.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "3">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">What kinds of definitions is Hackterms good for?</div>
        </span>
        <div class = "faq-answer" data-id = "3">Any term related to computer programming is great: tools, languages, processes, libraries, frameworks, data structures, algorithms, architecture, project management jargon, you name it!
            <br>
            <br>
        Naturally, programmers will have diverse opinions about the tools they use. We welcome these, as long as they are presented in an constructive way. Hackterms is not a good fit for non-coding terms (ex: "ramen: the lifeblood of budding developers"), or highly-objective terms
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "4">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">What does a perfect definition look like?</div>
        </span>
        <div class = "faq-answer" data-id = "4">Avoid jargon and try to answer the following questions <a href = "http://www.hackterms.com/Rubber%20duck%20debugging" target = "_blank">as though you were talking to a rubber duck</a>:
            <ul>
                <li>What does this thing do?</li>
                <li>what are the pros, cons, and alternatives to using it?</li>
                <li>Is it worth my time to learn this now? Is this thing crucial or just convenient?</li>
            </ul>
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "5">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Why are the definitions so short? Why can't I see code examples?</div>
        </span>
        <div class = "faq-answer" data-id = "5">Hackterms is meant to be a reference, not a manual. Once you understand what a certain term does and want to learn more about it, there many fantastic, free resources on the web available to teach you about every facet of programming.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "6">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Why was my definition rejected or removed?</div>
        </span>
        <div class = "faq-answer" data-id = "6">New definition submissions are reviewed by the moderator team. Additionally, other users are able to report definitions and comments. The most common reasons posts might be removed are:
            <ul>
                <li>It is offensive, abusive, or disrespectful to other users on the basis of race, gender, political or religious beliefs, or sexual orientation. There is no fancy legalese for this - try to be a supportive human being and fellow programmer</li>
                <li>It is topically wrong: for example, it's fine to say React.js is a language (though this is technically incorrect), but not that it's a type of hamburger</li>
                <li>Your post was not for a programming term</li>
                <li>Your post was referenced an inside joke not helpful to most coders</li>
                <li>Your post broadly falls under trolling (see the top bullet point), spamming, or advertising</li>
                <li>Your post score (upvotes - downvotes) fell below -5</li>
            </ul>
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "7">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">I found something abusive, offensive, or spammy on the site</div>
        </span>
        <div class = "faq-answer" data-id = "7">Any user can report a definition or comment - you don't even need to log in. Click the red flag icon<span class = "report-post link bold" data-id = "{{id}}" data-type = "definitions"><i class="fa fa-flag-o" aria-hidden="true"></i></span> on the top right of any post.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "8">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Do I need an account? Accounts suck.</div>
        </span>
        <div class = "faq-answer" data-id = "8">You'll need an account to submit new definitions and comment.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "9">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Can I delete my comment or definition?</div>
        </span>
        <div class = "faq-answer" data-id = "9">Yep! Once you log in, you can do this from <a href = "/profile">your profile </a> or the search page by clicking the trash icon<span class = "bold link delete-post" data-id = "{{id}}" data-type = "definitions"><i class="fa fa-trash-o" aria-hidden="true"></i></span> on the top right of your post.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "10">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Can I contribute to or improve Hackterms?</div>
        </span>
        <div class = "faq-answer" data-id = "10">Absolutely -  <a href="mailto:hello@hackterms.com" target="_blank">shoot me an email</a> if you want to contribute or just say hello!</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "11">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Isn't there a tradeoff between simplicity and accuracy?</div>
        </span>
        <div class = "faq-answer" data-id = "11">
            Yes. Hackterms aims for simplicity and high-level understanding. We want you to understand the <span class = "bold">"why"</span>, <span class = "bold">"when"</span>, and <span class = "bold">"where"</span> of programming terminology - not the <span class = "bold">"how"</span>.
            <br><br>
            Sometimes this means sacrificing accuracy for the sake of readability. However, lots of other great resources on the web will provide in-depth dicussion of any programming topic.
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "12">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
            <div class = "faq-question">Why did you create Hackterms?</div>
        </span>
        <div class = "faq-answer" data-id = "12">
            For me, the hardest thing about learning to code was connected the dots. I struggled with questions like: 

            <ul>
                <li>where does the the Ruby language end and the Rails framework begin?</li>
                <li>what is bower, vim, grunt, middleware, PostgreSQL, and which of these do I need to learn right now?</li>
                <li>are git and TDD crucial to getting my first website up and running?</li>
            </ul>

            This type of confusion resonated with my fellow devs, so I decided to create a community-sourced reference to help newcomers tackle these questions. 
        </div>
    </div>

</div>

<% include partials/_footer.ejs %>

