<% include partials/_header.ejs %>

<div id = "main-section">


    <div class = "faq-title">FAQ</div>


    <div class = "faq-one-question toggle-answer" id = "1">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">What is Hackterms?</div>
        <div class = "faq-answer" data-id = "1">Hackterms is a community-sourced dictionary of coding terms. Use it to quickly understand:
            <ul>
                <li>Why someone would use this tool/process/language</li>
                <li>What the pros, cons, and alternatives are</li>
                <li>Where the term fits in within the coding ecosystem</li>
            </ul>
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "2">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">Can I submit a definition?</div>
        <div class = "faq-answer" data-id = "2">Absolutely! The goal of Hackterms is to help  gets better with every new perspective added. Your definition might help a fellow developer understand the term better!

        <br><br> 

        All new submissions are reviewed within 24 hours. The goal of the review process is to make sure your submission is a good fit for Hackterms - that is is a coding term that aims to be constructive, objective, and not offensive. We do <span class = "bold">not</span> review submission for technical accuracy, but do review them for topical accuracy. For example, we will approve a definition that says React.js is a language (though this is technically incorrect), but not that it's a type of hamburger.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "3">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">What kinds of definitions is Hackterms good for?</div>
        <div class = "faq-answer" data-id = "3">Any term related to computer programming is great: tools, languages, processes, libraries, frameworks, data structures, algorithms, architecture, project management jargon, you name it!
            <br>
            <br>
        Naturally, programmers will have diverse opinions about the tools they use. We welcome these, as long as they are presented in an constructive way. Hackterms is not a good fit for non-coding terms (ex: "ramen: the lifeblood of budding developers"), or highly-objective terms
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "4">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">Why are the definitions so short? Why can't I see code examples?</div>
        <div class = "faq-answer" data-id = "4">Hackterms is meant to be a reference, not a manual. Once you understand what a certain term does and want to learn more about it, there many fantastic, free resources on the web available to teach you about every facet of programming.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "5">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">Why was my definition rejected or removed?</div>
        <div class = "faq-answer" data-id = "5">New definition submissions are reviewed by the moderator team. Additionally, other users are able to report definitions and comments. The most common reasons posts might be removed are:
            <ul>
                <li>It is offensive, abusive, or disrespectful to other users on the basis of race, gender, political or religious beliefs, or sexual orientation. There is no fancy legalese for this - try to be a supportive human being and fellow programmer</li>
                <li>It is topically wrong: for example, it's fine to say React.js is a language (though this is technically incorrect), but not that it's a type of hamburger</li>
                <li>Your post was not for a programming term</li>
                <li>Your post broadly falls under trolling (see the top bullet point), spamming, or advertising</li>
                <li>Your post score (upvotes - downvotes) fell below -5</li>
            </ul>
        </div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "6">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">I found something abusive, offensive, or spammy on the site</div>
        <div class = "faq-answer" data-id = "6">Any user can report a definition or comment - you don't even need to log in. Click the red flag icon on the top right of any post.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "7">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">Do I need an account? Accounts suck.</div>
        <div class = "faq-answer" data-id = "7">You'll need an account to submit new definitions and comment.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "8">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">Can I delete my comment or definition?</div>
        <div class = "faq-answer" data-id = "8">Yep! Once you log in, you can do this from <a href = "/profile">your profile</a> by clicking the trash icon on the top right of your post.</div>
    </div>

    <div class = "faq-one-question toggle-answer" id = "9">
        <span class = "faq-control">
            <i class="fa fa-plus show-answer" aria-hidden="true"></i>
            <i class="fa fa-minus hide-answer" aria-hidden="true"></i>
        </span>
        <div class = "faq-question">Can I help you build this thing? I found a lot of bugs.</div>
        <div class = "faq-answer" data-id = "9">Absolutely -  <a href="mailto:max@hackterms.com" target="_blank">shoot me an email</a> if you want to contribute or just say hello!</div>
    </div>

</div>

<% include partials/_footer.ejs %>

