<% include partials/_header.ejs %>





<input type = "text" maxlength = "40" id = "search-bar" autofocus>
<!-- <button id = "search-button">search</button> -->


<div id = "terms-section">
</div>

<h3>Popular explanations</h3>
<div id = "definitions-section">
</div>

<div id = "new-definition">
	<h3>Add your own explanation</h3>
	<textarea id = "new-definition-textarea" maxlength="500" rows = "4" placeholder = "definition"></textarea>
	<textarea id = "new-definition-related-terms" maxlength="500" rows = "1" placeholder = "related terms"></textarea>
	<span id = "new-definition-char-count">0</span>/500
	<button id = "add-definition">Add</button>
</div>




<% include partials/_footer.ejs %>
