<% include partials/_header.ejs %>



<div id = "main-section">
    <div id = "search-bar-div">
        <p id = "search-bar-label">learn about a coding term or <a href = "/all">see all</a></p>
        <input type = "text" maxlength = "40" id = "search-bar" value = "<%= searchTerm %>" placeholder = "ex: javascript" autofocus>
        <div id = "terms-section"></div>
    </div>

    <div id = "definitions-section"></div>
</div>

<% include partials/_footer.ejs %>
