<% include partials/_header.ejs %>

    <div id = "password-reset-section" class = "standalone-password-reset-page" data-token = <%= token %>>   
        <div class = "account-title">
            <span class = "sign-up-link"><span class = "login-link active-account-title">Enter your new password</span></span>
        </div>

        <div class = "report-error password-error"></div>
        <input type = "password" id = "password-reset" placeholder = "password"><br>
        <input type = "password" id = "password-reset-confirmation" placeholder = "confirm password">

        <button class = "account-submit-button" id = "password-reset-submit-action">Reset email</button>
    </div>

<% include partials/_footer.ejs %>