<div id = "user-role-editor">
    User:<br>
    <input type = "text" id = "user-role-search" autofocus><br>
    <button id = "find-user">Find</button><br>
    <div id = "user-role-section">
        
    </div>
</div>