/* GLOBAL STYLING */

body{
	margin: 0;
	padding: 0;
	background: #f3eae0;
}

a, .link {
	text-decoration: none;
	color: #2E58D1;
}

a:hover, .link:hover {
	color: #d57915;
	cursor: pointer;
}

.term-link {
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	background: rgb(220, 239, 236);
	color: #2E58D1;
}

.term-suggestion-link {
	text-decoration: none;
	font-size: 0.7em;
	display: block;
	padding: 3px 6px;
	background: rgb(220, 239, 236);
	color: #2E58D1;
}

.term-link:hover, .term-suggestion-link:hover {
	background: rgb(125, 161, 196);
	cursor: pointer;
}

.bold {
	font-weight: 700;
}

.container {
	width: 80%;
	margin: 0px auto;
	min-width: 200px;
	max-width: 1600px;
}

#main-section {
	padding: 0px 10vw;
}

/* SEARCH BAR */

#search-bar {
	font-size: 2.5em;
	margin: 5vh 0 0 -10%;
	width: calc(120% - 20px);
	padding: 10px;
	display: block;
	border: 1px solid #c5c5c5;
	box-shadow: 0px 0px 5px rgba(203, 218, 210, 0.50);
	min-width: 200px;
}

#terms-section {
	width: calc(120% + 4px);
	margin: 0px 0px 0px -10%;
	display: block;
}

#terms-section {
	width: calc(120% + 4px);
	margin: 0px 0px 0px -10%;
	display: block;
}

#term-suggestions-section {
	position: absolute;
	background: white;
	border: 1px solid black;
	margin-top: -4px;
	width: calc(100% - 40px);
	display: none;
}

.term{
	border: 1px solid black;
	box-shadow: -2px 2px 2px rgba(20, 20, 20, 0.4);
}


/* POP OUT */

.pop-out {
	width: calc(64vw - 44px);
    border: 2px solid black;
    z-index: 2;
    box-shadow: -5px 10px 30px rgba( 20, 20, 20, 0.5);
    position: absolute;
    top: 15vh;
    left: 18vw;
    background: #EAEAEA;
    padding: 20px;
    min-height: 10vh;
    min-width: 200px;
}

.pop-out .header i {
	float: right;
}

.pop-out ul {
	margin-top: 3px;
}

.log-in-please{
	margin: 30px 0 0 0;
}


/* DEFINITION */

#definitions-section {
	margin: 6vh auto;
}

#definitions-section-title{
	margin-left: 20vw;
}

.definition {
	margin: 20px auto;
	padding: 20px;
	border: 1px solid black;
	display: block;
	box-shadow: 0px 0px 5px rgba(100, 181, 17, 0.5);
	min-width: 200px;
	background: #f5fdcd;
}

.term .title {
	font-size: 1.5em;
	font-weight: bold;
}

#new-definition {
    display: none;
}

#new-definition h3 {
	margin: 5px 0px 10px 0px;
}

#new-definition textarea {
    resize: none;
    padding: 6px;
    font-size: 1em;
    line-height: 1.4;
    width: calc(100% - 14px);
}

#add-definition {
	float: right;
}

.term-suggestions-section {
	display: none;
}

.definition-term {
	font-weight: 700;
	color: #5e6465;
}

.definition-column {
	width: 90%;
	display: inline-block;
	vertical-align: top;

}

.voting-column {
	display: inline-block;
	width: 10%
}

.voting-section{
	margin: 0;
	text-align: center;
	vertical-align: top;
	float: right;
}

.definition-score {
	padding: 0px 10px;
	font-weight: 700;
	color: green;
}

.textarea-label {
	font-size: 0.8em;
	font-weight: 700;
	margin: 5px 0 0 0;
}


/* HEADER */

.alert {
	text-align: center;
}

#error {
	color: red;
}

#message {
	color: blue;
}

.links {
	text-align: right;
}

.links .link {
	margin: 3px 5px;
}

.account {
	display: inline;
}

.links button {
	margin-left: 10px;
	border-radius: 0;
	border: 1px solid gray;
	background: #2E58D1;
	color: white;
}

.links button:hover {
	background: #d57915;
	border: 1px solid black;
}

#new-alert {
	color: red;
}