
	<div id = "footer-section">


	        <hr>
	        <p>Project by <a href = "http://maximpekarsky.com" target = "blank">Max Pekarsky</a></p>    
	    </div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>

    <script src= "https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type= "text/javascript" src = "/assets/script.js"></script>

    <% if (typeof(session.user) != "undefined" && session.user != null){ %>
    	<% if(session.user && (session.user.admin || session.user.moderator)){ %>
    		<script type= "text/javascript" src = "/assets/admin.js"></script>
    	<% } %>
    <% } %>
    
</body>
</HTML>