 <!DOCTYPE html>
<HTML>
<head>
    <title>Coding Dictionary</title>
    <!-- Might not need bootstrap later -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lusitana:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type = "text/css" href ="/assets/style.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/icon.png">
</head>
<body>

<div class = "container">
    <div id = "header-section">
        <div class = "alert">

            <span id = "error"><% if(typeof(error) != "undefined"){ error } %></span>
            <span id = "message"><% if(typeof(message) != "undefined"){ message } %></span>

        </div>
        <div class = "links">
            <div class = "account">
                <% if (typeof(session.user) == "undefined" || session.user == null){ %>
                    <span class = "link bold" id = "signup">Sign Up</span>
                    <span class = "link" id = "login">Log In</span>
                <% } else if (typeof(session.user) != "undefined" && session.user != null){ %>

                    <% if(session.user.admin == "true" || session.user.admin == true || session.user.moderator == "true"|| session.user.moderator ==  true ){ %>
                        <a href = "/admin" id = "admin-panel-link">Admin Panel</a>
                    <% } %>

                    <span class = "welcome">Hello, <a href = "/profile"><%= session.user.username %></a></span>
                    
                    <% if(session.user.newNotifications){ %>
                        <span class = "notifications-button"><i class="fa fa-bell-o" aria-hidden="true" class = "notification-bell" id = "new-alert"></i></span>
                    <% } else {%>
                        <span class = "notifications-button"><i class="fa fa-bell-o" aria-hidden="true" class = "notification-bell" ></i></span>
                    <% } %>

                    <span class = "link" id = "logout">Log out</span>
                <% } %>
            </div>

            <div id = "signup-section">
                <input type = "text" id = "signup-username" placeholder = "username"> <input type = "password" id = "signup-password" placeholder = "password"><button id = "signup-action">Sign up</button><i class="fa fa-times fa-1x link" aria-hidden="true" id = "account-close"></i>
            </div>    

            <div id = "login-section">
                <input type = "text" id = "login-username" placeholder = "username"> <input type = "password" id = "login-password" placeholder = "password"><button id = "login-action">Log in</button><i class="fa fa-times fa-1x link" aria-hidden="true" id = "account-close"></i>
            </div>
        </div>
        <hr>
    </div>


   
