<div class = "definition" id = "{{id}}">

	<div class = "definition-column">
		<span class = "definition-term">{{definition.term}}</span>: {{definition.body}}
	</div><!-- 
 --><div class = "edit-history-column">
 	<br>
 	Last edited by @{{definition.author}} on {{editDate}}
	</div><!-- 
 --><div class = "voting-column">
		<div class = "voting-section">	
			<i class="fa fa-chevron-up voting-button link" data-id = "{{id}}" data-term = "{{definition.term}}" data-vote = "up" aria-hidden="true"></i><br>
			<span class = "definition-score">{{score}}</span><br>
			<i class="fa fa-chevron-down voting-button link" data-id = "{{id}}" data-term = "{{definition.term}}" data-vote = "down" aria-hidden="true"></i>
		</div>
	</div><!-- 
 --><div class = "post-actions-column">
		<span class = "report-post"
	</div>
</div>

