<div class = "definition" id = "category-summary">
	<h3 class = "definition-term">Popular categories: </h3>
	<div class = "category-stat">
		<span class = "category-label">Tool</span>
		<span class = "category-percentage-wrapper"><span class = "category-percentage" id = "tool-percentage"><span class = "percentage-label" id = "tool-percentage-label"></span></span></span>
	</div>
	
	<div class = "category-stat">
		<span class = "category-label">Concept</span>
		<span class = "category-percentage-wrapper"><span class = "category-percentage" id = "concept-percentage"><span class = "percentage-label" id = "concept-percentage-label"></span></span></span>
	</div>
	
	<div class = "category-stat">
		<span class = "category-label">Language</span>
		<span class = "category-percentage-wrapper"><span class = "category-percentage" id = "language-percentage"><span class = "percentage-label" id = "language-percentage-label"></span></span></span>
	</div>
	
	<div class = "category-stat">
		<span class = "category-label">Process</span>
		<span class = "category-percentage-wrapper"><span class = "category-percentage" id = "process-percentage"><span class = "percentage-label" id = "process-percentage-label"></span></span></span>
	</div>

	<div class = "category-stat">
		<span class = "category-label">Other</span>
		<span class = "category-percentage-wrapper"><span class = "category-percentage" id = "other-percentage"><span class = "percentage-label" id = "other-percentage-label"></span></span></span>	
	</div>
</div>