<div class = "definition" id = "{{id}}">

	<div class = "main-row">
		<div class = "definition-main-column">
			<div class = "definition-meta">
				<div class = "definition-history">
					<a class = "link definition-term" href = "/{{link}}">{{definition.term}}</a><!--  |	
					<a href = "/profile/{{definition.author}}/definitions">@{{definition.author}}</a> --><!--  on {{editDate}} -->
		 		</div><!-- 
		 	 --><div class = "definition-actions">
			 		{{#if definition.owner}}
			 			<!-- <div class = "bold action-icon link more-post" data-id = "{{id}}" data-type = "definitions"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div> -->
			 			<div class = "bold link action-icon edit-post" data-id = "{{id}}" data-type = "definitions"><i class="fa fa-pencil" aria-hidden="true"></i></div>
			 			<div class = "bold link action-icon delete-post" data-id = "{{id}}" data-type = "definitions"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
			 		{{/if}}

			 		{{#unless definition.owner}}
						<span class = "action-icon report-post bold" data-id = "{{id}}" data-type = "definitions"><i class="fa fa-flag-o" aria-hidden="true"></i></span>
					{{/unless}}
					
					<span class = "link comment-on-post action-icon" data-id = "{{id}}" data-term = "{{definition.term}}" >
						<i class="fa fa-chevron-circle-down" data-id = "{{id}}" data-term = "{{definition.term}}" aria-hidden="true"></i>
						<i class="fa fa-comment" data-id = "{{id}}" data-term = "{{definition.term}}" aria-hidden="true"></i>

						<span class = "comment-count" data-id = "{{id}}">{{definition.comments.length}}</span>
					</span>

				</div>
			</div>

			<div class = "definition-main-body">
				<div class = "definition-column">
					<div class = "definition-body">{{definition.body}}</div>

					{{#if hasRelated}}

					<div class = "definition-related-terms">
						{{#each related}}
							<a href = "/{{this}}" class= "related-term">{{this}}</a>
						{{/each}}
					</div>

					{{/if}}
				</div>
			</div>
		</div><!-- 
	 --><div class = "voting-column">
			<div class = "voting-section">	
				<i class="fa fa-chevron-up voting-button link" data-id = "{{id}}" data-term = "{{definition.term}}" data-vote = "up" data-type = "definition" aria-hidden="true"></i><br>
				<span class = "definition-score">{{score}}</span><br>
				<i class="fa fa-chevron-down voting-button link" data-id = "{{id}}" data-term = "{{definition.term}}" data-vote = "down" data-type = "definition" aria-hidden="true"></i>
			</div>
		</div>
	</div>

</div>
<div class = "comments-section" data-id = "{{id}}">
</div>
