<div class = "definition" id = "{{id}}">

	<div class = "main-row">
		<div class = "definition-column">
			<div class = "definition-term">{{definition.term}}</div>
			<div class = "definition-body">{{definition.body}}</div>
		</div>
	</div>

	<div class = "info-row">
		<div class = "edit-history-column">
	 		Submitted by @{{definition.author}} on {{created}}
		</div><!-- 
	 --><div class = "post-actions-column">
			<button class = "admin-decision reject" data-vote = "rejected" data-id = "{{id}}" data-type = "definition" data-author = "{{definition.author}}" data-term = "{{definition-term}}"><i class="fa fa-times" aria-hidden="true"></i></button>
			<button class = "admin-decision approve" data-vote = "approved" data-id = "{{id}}" data-type = "definition" data-author = "{{definition.author}}" data-term = "{{definition.term}}"><i class="fa fa-check" aria-hidden="true"></i></button>
		</div>
	</div>

</div>



