<div class = "definition" id = "{{id}}">

	<div class = "definition-column">
		<span class = "definition-term">{{definition.term}}</span>: {{definition.body}}
	</div><!-- 
 --><div class = "edit-history-column">
 	<br>
 	Submitted by <span class = "bold">@{{definition.author}}</span> on {{created}}
	</div><!-- 
 --><div class = "voting-column">
		<div class = "voting-section">	
			<i class="fa fa-chevron-up voting-button link" data-vote = "up" aria-hidden="true"></i><br>
			<span class = "definition-score">{{score}}</span><br>
			<i class="fa fa-chevron-down voting-button link" data-vote = "down" aria-hidden="true"></i>
		</div>
	</div>
	<div class = "admin-approval-panel">
		<button class = "admin-decision reject" data-vote = "rejected" data-id = "{{id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
		<button class = "admin-decision approve" data-vote = "approved" data-id = "{{id}}"><i class="fa fa-check" aria-hidden="true"></i></button>
	</div>
</div>

