<div class = "definition" id = "{{report.id}}">

	<div class = "main-row">
		<div class = "definition-column">
			<div class = "report-reason">{{report.reason}}</div>
			<span class = "definition-term">{{report.term}}</span>: {{report.body}}
		</div>
	</div>

	<div class = "info-row">
		<div class = "edit-history-column">
	 		Submitted by @{{report.author}} on {{created}}
		</div><!-- 
	 --><div class = "post-actions-column">
			<button class = "admin-decision remove-report" data-vote = "rejected" data-id = "{{report.id}}" data-type = "report" data-author = "{{report.author}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
			<button class = "admin-decision trash-post" data-vote = "approved" data-id = "{{report.id}}" data-type = "report" data-author = "{{report.author}}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		</div>
	</div>

</div>



